header {
    display: flex;
}

body {
    background-color: black;
}
#game-window {
    display: flex;
    margin: 10px auto;
    width: 352px;
    height: 198px;
    transform: scale(3.5) translateY(38%);
    border-radius: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Bitcount Grid Double Ink";
    font-size: 3.5rem;
    font-weight: 200;
}

#ranking {
    width: 120px;
    display: flex;
    background-color: #ffd90091;
    font-size: 1.8rem;
    justify-content: space-around;
    text-align: center;
    margin: -5px auto 5px auto;
    cursor: pointer;
    transition: all 400ms;
}
#ranking:hover {
    transition: all 400ms;
    transform: scale(1.1);
    background-color: #ffd700;
}

#start-button{
    position: absolute;
    width: 100px;
    top: 80px;
    left: 126px;
}

#name {
    position: absolute;
    top: 120px;
    left: 100px;
}